In [2]:
import torch
import os
import time

# For first run only to set proper directory
# os.chdir('..')

import pandas as pd
import numpy as np

from torch.utils.data.dataloader import DataLoader
from sklearn.model_selection import train_test_split
from SQL.connector import connector
from emotions_model_training.EmotionsDataset import EmotionsDataset

In [3]:
# Paramteres for scripts (implement proportion of sets)
sets_proportion = [0.6, 0.2, 0.2]       # train / valid / test
batch = 64                              # batch size
do_shuffle = True                       # shuffling data in loader

In [4]:
# Loading the dataset with SQL query and dispaying for insight
db_dir = "D:\\Repos\\Face_Detection_PyTorch\\dataset\\expression_dataset\\data\\data\\image\\origin"

conn = connector()
db = conn.query(f'SELECT * FROM dbo.label')

display(db)

d:\Repos\Face_Detection_PyTorch\SQL\connector.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

,image,face_id_image,box_top,box_left,box_right,box_bottom,box_confidence,label
0,distaste_mother_319.jpg,3,120,664,712,168,33.1615,6
1,distaste_mother_498.jpg,1,175,103,150,222,7.75454,3
2,distaste_mother_58.jpg,0,72,88,136,120,72.9418,6
3,distaste_mother_623.jpg,0,254,5,72,321,79.3727,6
4,distaste_mother_667.jpg,0,67,180,315,202,61.9211,1
...,...,...,...,...,...,...,...,...
91788,surprised_expression_546.jpg,0,70,70,351,351,37.7117,5
91789,surprised_expression_381.jpg,0,51,61,117,107,91.6307,5
91790,surprised_expression_395.jpg,0,27,95,258,190,96.2861,5
91791,ecstatic_asian_31.jpg,0,60,136,184,108,39.9223,3
91792,surprised_expression_394.jpg,0,47,38,152,161,77.7758,5

In [5]:
# Splitting data into sets (train, test, valid) - with renumeration
train, val_test = train_test_split(db, test_size=0.4, train_size=0.6, random_state=42, stratify=db['label'])
valid, test = train_test_split(val_test, test_size=0.5, train_size=0.5, random_state=42, stratify=val_test['label'])

train, valid, test = train.reset_index(drop=True), valid.reset_index(drop=True), test.reset_index(drop=True)

print("Checking sizes of prepared datasets:")
print("Train shape: " + str(train.shape[0]) + " (" + str(round((train.shape[0]/db.shape[0])*100)) + "%)")
print("Valid shape: " + str(valid.shape[0]) + " (" + str(round((valid.shape[0]/db.shape[0])*100)) + "%)")
print("Test shape: " + str(test.shape[0]) + " (" + str(round((test.shape[0]/db.shape[0])*100)) + "%)")

Checking sizes of prepared datasets:
Train shape: 55075 (60%)
Valid shape: 18359 (20%)
Test shape: 18359 (20%)

In [17]:
# Init for datasets with PyTorch class
train_dataset = EmotionsDataset(train, db_dir)

# Fixing valid and test dataset to same sizes (for convinience with NN architecture)
horz, vert = train_dataset.horz_max, train_dataset.vert_max

valid_dataset = EmotionsDataset(valid, db_dir, horz, vert)
test_dataset = EmotionsDataset(test, db_dir, horz, vert)

# Init for dataloaders with default batch = 64
train_dataloader = DataLoader(dataset=train_dataset, batch_size=batch, shuffle=do_shuffle, drop_last=True)
valid_dataloader = DataLoader(dataset=valid_dataset, batch_size=batch, shuffle=do_shuffle, drop_last=True)
test_dataloader = DataLoader(dataset=test_dataset, batch_size=batch, shuffle=do_shuffle, drop_last=True)

In [19]:
# Checking maximal size - in theory it can vary, but it depends from split of dataset
print("Size of images: " + str(horz) + " x " + str(vert))

Size of images: 2117 x 2117

In [7]:
# Checking CUDA avalibility
device = (
    "cuda"
    if torch.cuda.is_available()
    else "cpu"
)

print("Using " + str(device))

Using cuda